.input_container {
  position: relative;
}

.input_container:hover > .input {
  background: rgba(237, 237, 237, 0.9);
}

.image_password_container {
  width: 16px;
  height: 12px;
  cursor: pointer;
}

.password_toggle_container {
  position: absolute;
  width: 16px;
  height: 12px;
  top: 8px;
  right: 5px;
}

.input {
  background-color: rgba(237, 237, 237, 0.5);
  border-radius: 5px;
  border: none;
  padding: 10px;
  color: #000;
  font-size: 13px;
  width: 90%;
  transition: 600ms;
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.5)
}


.input_error {
  background: rgba(219, 57, 57, 0.3);
}

.input_helper_text {
  font-family: "serif";
  font-size: 12px;
  font-weight: 300;
  line-height: 15px;
  padding-left: 3px;
  color: #db3939;
}

/* Pseudoclasses */
.input:focus,
.input:active {
  outline: none;
  caret-color: #000;
}

.input:hover {
  background: rgba(237, 237, 237, 0.9);
  transition: 600ms;
}

.input_error:hover {
  background: rgba(219, 57, 57, 0.4);
  transition: 600ms;
}
