button {
  background: #CCCCCC;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px 80.5px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  width: 100%;
  transition: 700ms;
}

button:hover {
  background: #BBBBBB;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  transition: 700ms;
}

button:active {
  background: rgba(245, 198, 120, 0, 7);
}
